@use '../modules' as *;
@forward 'buttons';

calendar {
  color: $view_fg_color;
  border: 1px solid $borders_color;

  &:selected {
    @extend %selected_items;

    border-radius: $button_radius;
  }

  &.header {
    border-bottom-color: transparentize(black, 0.9);

    &:backdrop { border-bottom-color: transparentize(black, 0.9); }
  }

  &.button {
    @extend %undecorated_button;

    color: gtkalpha($window_fg_color, 0.45);

    &:hover { color: $window_fg_color; }
    &:backdrop { color: gtkalpha($backdrop_fg_color,0.45); }
    &:disabled { color:  gtkalpha($disabled_fg_color,0.45); }
  }

  &.highlight {
    color: $disabled_fg_color;

    &:backdrop { color: $backdrop_disabled_color; }
  }

  &:backdrop {
    color: $backdrop_text_color;
    border-color: $backdrop_borders_color;
  }

  &:indeterminate { color: gtkalpha(currentColor, 0.1); }
}
