// 3rd party application styles

// Nautilus
.nautilus-window {
  // Without this nautilus iconview grabs the bg_color
  notebook,
  notebook > stack:not(:only-child),
  notebook > stack:not(:only-child) searchbar { @extend %view; }

  // Path-bar
  .path-bar-box {
    border-radius: $button_radius;
    border: none;
    background-color: $hb_button_color;
    padding-right: 6px;
    &:backdrop {
      background-color: $hb_button_backdrop_color;
    }
  }

  .nautilus-path-bar button {
    margin: 0px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .nautilus-path-bar button:first-child {
    border-width: 0px 1px 0px 0px;
    border-radius: $button_radius 0px 0px $button_radius;
  }

  .nautilus-path-bar button:not(:first-child) {
    border-width: 0px 1px 0px 1px;
    border-radius: 0px 0px 0px 0px;
  }
}

// Floating status bar
.floating-bar {
  padding: 3px;
  background-color: $base_color;
  border-width: 1px;
  border-style: solid solid none;
  border-color: $borders_color;
  border-radius: 8px 0 0 0;
}
.floating-bar.bottom.left {
  border-left-style: none;
  border-top-left-radius: 0;
}
.floating-bar.bottom.right {
  border-right-style: none;
  border-top-right-radius: 0;
}
.floating-bar:backdrop {
  background-color: $base_color;
  border-color: $backdrop_borders_color;
}
.floating-bar button {
  padding: 0px;
}

// Disk space pie
$disk_space_unknown: #888a85;
$disk_space_used: #729fcf;
$disk_space_free: #eeeeec;

.disk-space-display {
  border-style: solid;
  border-width: 2px;
}
.disk-space-display.unknown {
  background-color: $disk_space_unknown;
  border-color: shade($disk_space_unknown, 0.7);
  color: $disk_space_unknown;
}
.disk-space-display.unknown.border {
  color: shade($disk_space_unknown, 0.7);
}

.disk-space-display.used {
  background-color: $disk_space_used;
  border-color: shade($disk_space_used, 0.7);
  color: $disk_space_used;
}
.disk-space-display.used.border {
  color: shade($disk_space_used, 0.7);
}
.disk-space-display.free {
  background-color: $disk_space_free;
  border-color: shade($disk_space_free, 0.7);
  color: $disk_space_free;
}
.disk-space-display.free.border {
  color: shade($disk_space_free, 0.7);
}

// Gedit
.gedit-search-slider {
  // gives gedit search entry some padding and a border
  // otherwise it's right under the headerbar
  background: $bg_color;
  border: 1px solid $borders_color;
  border-top-style: none;
  padding: 4px 8px;
  border-radius: 0 0 $button_radius $button_radius;

  &:backdrop {
    background-color: $backdrop_bg_color;
    border-color: $backdrop_borders_color;
  }
}

.gedit-document-panel {
  // 'documents' pane

  background-color: $bg_color;

  row.activatable {
    padding: 6px;
  }

  row button {
    // 'close' button
    min-width: 22px;
    min-height: 22px;
    padding: 0;
    margin: 0;
    border: none;
  }

  row:hover button {
    &:hover {
      background-color: rgba($fg_color, 0.15);
    }

    &:active {
      background-color: rgba($fg_color, 0.25);
    }
  }

  row:hover:selected button:hover {
    color: $fg_color;
  }
}

// gnome-tweaks
list.tweak-categories separator.horizontal {
  background: transparent;
  margin: 2px 0;
}

// Geary
.geary-expanded headerbar {
  border: none;
}

geary-conversation-viewer#conversation_viewer { // right side
  list.background.conversation-listbox.content {
    background-color: $bg_color;
    border: none;
    border-radius: 0;

    > row.activatable {
      border: 1px solid $borders_color;
      border-bottom-width: 0;

      &:first-child {
        border-top-left-radius: $card_radius;
        border-top-right-radius: $card_radius;
      }
    }

    .geary-attachment-pane {
      border-radius: 0 0 $card_radius $card_radius;

      actionbar.background {
        background-color: transparent;

        > revealer > box {
          border-radius: 0 0 $card_radius $card_radius;
        }
      }
    }

    geary-composer-editor {
      > box.background {
        background-color: transparent;

        > actionbar > revealer > box {
          border-radius: 0 0 $card_radius $card_radius;
        }
      }
    }
  }

  searchbar {
    > revealer > box {
      background-color: $base_color;
      border-color: $borders_color;
    }
  }
}

// GNOME software
.counter-label {
  margin-top: 2px;
  margin-bottom: 2px;
  border-width: 0px;
  padding-left: 2px;
  padding-right: 2px;
  box-shadow: inset 0 0 10px 10px $success_color;
}

// GNOME Todo
.org-gnome-Todo {
  taskrow.activatable.new-task-row button.popup.toggle {
    border-radius: 0px;
    border: none;
    border-left: 1px solid $borders-color;
    padding-left: 10px;
    padding-right: 10px;
    -gtk-outline-radius: 0px;
  }

  viewport.view,
  listbox.transparent {
    background-color: darken($base_color, 5%);

    &:backdrop {
      background-color: $backdrop_base_color
    }
  }
}

// Guake
// Fix bugged transparent headerbar background
window#guake-terminal notebook header {
  background: $headerbar_color;
}

// XFCE4
XfdesktopIconView.view {
  background: transparent;
  color: $osd_fg_color;
  border-radius: $button_radius;
  &:active {
    background: rgba(darken($selected_bg_color, 15%), 0.5);
    text-shadow: 0 1px 1px black;
  }
  .label { text-shadow: 1px 1px 2px black; }
  .rubberband {
    @extend rubberband;
    border-radius: 0;
  }
}

$panel_bg_color: #1e1e1e;
$panel_fg_color: #ffffff;
.xfce4-panel.background {
  border: none; 
  background-color: $panel_bg_color;
  color: $panel_fg_color;

  button {
    font-weight: normal;
    padding: 0;
    min-height: 12px;
    min-width: 12px;
    border-radius: 0;
    color: $panel_fg_color;
    @include button(undecorated);

    &:disabled {
      background-color: transparent;
      color: transparentize($panel_fg_color, 0.8);
    }
    
    &:hover:not(:active):not(:checked) {
      color: $panel_fg_color;
      background-color: lighten($panel_bg_color, 20%);
      background-image: none;
      box-shadow: none;
    }

    &:checked {
      background-color: lighten($panel_bg_color, 30%);
      color: $panel_fg_color;
      box-shadow: inset 0 -2px $selected_bg_color;

      &:disabled {
        @include button(undecorated);
        color: transparentize($panel_fg_color, 0.8);
      }
    }
    entry { caret-color: $text_color; }
    menu {
      -gtk-icon-effect: none;

      text-shadow: none;
      // Theme pulseaudio-plugin's mpris buttons
      .linked button {
        @extend %linked;
        @include button(normal, $menu_color, $text_color);
        &:disabled {
          @include button(insensitive);
          border-color: transparentize($borders_color, 0.5);
        }
      }
    }
  }
}

// Nemo
.nemo-desktop.nemo-canvas-item {
  color: $selected_fg_color;
  text-shadow: 1px 1px 2px transparentize(black, 0.2);
}

.nemo-properties-dialog {
  .dialog-action-box .dialog-action-area {
    // add margin to preferences buttons
    margin: 2px 6px 4px;
  }

  toolbar stackswitcher.linked button {
    margin-right: 0;

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
    }
  }
}

.nemo-window {
  .sidebar {
    scrolledwindow.frame.nemo-places-sidebar {
      // get rid of double border in sidebar
      border: none;
    }

    viewport.frame box.vertical treeview.view.places-treeview {
      // use sidebar bg color
      background-image: image($sidebar_bg_color);
      border-radius: 0; // get rid of weird radius on selected rows

      &:backdrop {
        background-image: image($backdrop_sidebar_bg_color);
      }

      &:selected {
        background: $selected_bg_color;
      }

      &:not(:selected) {
        &:not(:backdrop):hover {
          background-image: image($base_hover_color);
        }
      }
    }
  }

  .nemo-inactive-pane .view,
  .nemo-inactive-pane iconview {
    // Shades the background of the inactive pane
    background-color: $backdrop_bg_color;
  }

  .nemo-window-pane {
    widget.entry {
      // Add border around rename text entry
      border: 1px solid;
      border-radius: 3px;
      color: $fg_color;
      border-color: $selected_bg_color;
      background-color: $bg_color;
    }

    widget.entry:selected {
      // Add highlighting to selected text in rename text entry
      border: 1px solid;
      border-radius: 3px;
      color: $selected_fg_color;
      border-color: $selected_bg_color;
      background-color: $selected_bg_color;
    }
  }

  toolbar.horizontal.primary-toolbar {
    // add border under toolbar
    border-bottom: 1px solid $borders_color;

    widget.linked.raised button {
      // use proper icons for next and left in stackswitcher-like pathbar
      &:first-child widget {
        -gtk-icon-source: -gtk-icontheme('go-previous-symbolic');
      }
      &:last-child widget {
        -gtk-icon-source: -gtk-icontheme('go-next-symbolic');
      }
    }

    toolitem box widget * {
      // reset toolbar button dimensions
      min-height: 0;
      min-width: 0;
    }

    .linked button {
      // link linked buttons
      margin-right: 0;
    }

    button {
      // return non-flat buttons
      @each $state,
      $t in ("", "normal"),
      (":hover", "hover"),
      (":active, &:checked", "active"),
      (":disabled", "insensitive"),
      (":disabled:active, &:disabled:checked", "insensitive-active"),
      (":backdrop", "backdrop"),
      (":backdrop:active, &:backdrop:checked", 'backdrop-active'),
      (":backdrop:disabled", 'backdrop-insensitive'),
      (":backdrop:disabled:active, &:backdrop:disabled:checked", 'backdrop-insensitive-active') {
        &#{$state} {
          @include button($t);
        }
      }
    }
  }
}

// USB Creator GTK
#dialog-action_area3 {
  margin: 5px;
}

// Inkscape
#ToolboxCommon {
  > #AuxToolbox {
    #StyleSwatch { font-size: smaller; }

    #Kludge { padding: 0; }

    spinbutton,
    entry { min-height: 32px; }

    button:not(.up):not(.down) {
      min-height: 24px;
      min-width: 16px;
      padding: 4px 8px;
      border-radius: $button_radius;
    }

    spinbutton button { border-width: 4px; }
  }

  > toolbar.vertical {
    margin-top: -4px;

    button {
      min-height: 24px;
      min-width: 24px;
      padding: 4px;
      border-radius: $button_radius;
    }
  }
}

#CanvasTable {
  button {
    min-height: 16px;
    min-width: 16px;
    padding: 0;
  }
}

#Canvas_and_Dock {
  frame > border { border: none; }

  // each canvases' titlebar
  widget > widget {
    > button.flat {
      min-height: 16px;
      min-width: 16px;
      padding: 4px;
    }

    > box.horizontal image { padding: 4px; }
  }

  // vertical dock buttons
  box.horizontal > box.vertical > button.flat {
    min-height: 16px;
    min-width: 24px;
    padding: 8px 4px;
  }
}

// GNOME Builder
.org-gnome-Builder {
    .dzlmenubutton {
       @extend %menu;
       .dzlmenubuttonitem {
         @extend %menuitem;
         min-height: 32px;
       }
    }
    headerbar {
        & > :not(.stack-switcher) .linked > button {
          @extend %linked;
          @extend %button;
        }
    }
}
