// When color definition differs for dark and light variant
// it gets @if ed depending on $variant

$base_color: if($variant == 'light', #ffffff, #1e1e1e);
$text_color: if($variant == 'light', black, white);
$bg_color: if($variant == 'light', #fafafa, #242424);
$fg_color: if($variant == 'light', transparentize(black, .2), white);

$selected_fg_color: #ffffff;
$selected_bg_color: if($variant == 'light', $blue_3, $blue_3);
$selected_borders_color: if($variant== 'light', darken($selected_bg_color, 15%), darken($selected_bg_color, 30%));
$borders_color: if($variant == 'light', darken($bg_color, 11.3%), lighten($bg_color, 13%)); //#dddddd, #454545
$alt_borders_color: if($variant == 'light', darken($bg_color, 24%), darken($bg_color, 18%));
$borders_edge: if($variant == 'light', transparentize(white, 0.5), transparentize($fg_color, 0.93));
$link_color: if($variant == 'light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 20%));
$link_visited_color: if($variant == 'light', darken($selected_bg_color, 20%), lighten($selected_bg_color, 10%));
$top_hilight: $borders_edge;
$dark_fill: mix($borders_color, $bg_color, 50%);
$headerbar_color: if($variant == 'light', darken($bg_color, 6%), lighten($bg_color, 4.7%)); //if($variant == 'light', #ebebeb, #303030);
$menu_color: if($variant == 'light', $base_color, lighten($bg_color, 8%));
$popover_bg_color: $menu_color;
$popover_hover_color: if($variant == 'light', darken($menu_color, 7%), lighten($menu_color, 7%)); //gtkalpha(currentColor, .13);

$scrollbar_bg_color: $base_color;
$scrollbar_slider_color: if($variant == 'light', darken($scrollbar_bg_color, 20%), lighten($scrollbar_bg_color, 20%)); //gtkalpha(currentColor, .2);
$scrollbar_slider_hover_color: if($variant == 'light', darken($scrollbar_bg_color, 40%), lighten($scrollbar_bg_color, 40%)); //gtkalpha(currentColor, .4);
$scrollbar_slider_active_color: if($variant == 'light', darken($scrollbar_bg_color, 60%), lighten($scrollbar_bg_color, 60%)); //gtkalpha(currentColor, .6);

$warning_color: if($variant == 'dark', #cd9309, $yellow_5);
$error_color: if($variant == 'dark', $red_4, $red_3);
$success_color: if($variant == 'dark', $green_5, $green_4);
$destructive_color: if($variant == 'dark', $red_4, $red_3);

$osd_fg_color: transparentize(white, .1);
$osd_text_color: white;
$osd_bg_color: transparentize(black, 0.3);
$osd_insensitive_bg_color: transparentize(black, 0.35);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(black, 0.1);

$sidebar_bg_color: $bg_color; //mix($bg_color, $base_color, 50%);
$base_hover_color: transparentize($fg_color, 0.95);

$tooltip_borders_color: transparentize(white, 0.9);
$shadow_color: transparentize(black, 0.9);

$drop_target_color: $selected_bg_color;

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: $bg_color; //if($variant == 'light', darken($base_color, 1%), lighten($base_color, 1%));
$backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: if($variant == 'light', darken($backdrop_bg_color, 15%), lighten($backdrop_bg_color, 15%));
$backdrop_selected_fg_color: if($variant == 'light', $backdrop_base_color, $backdrop_text_color);
$backdrop_borders_color: if($variant == 'light', mix($borders_color, $bg_color, 67%), mix($borders_color, $bg_color, 88%));
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 70%);
$backdrop_sidebar_bg_color: $backdrop_base_color;

$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, 40%);

$backdrop_menu_color: if($variant == 'light', $backdrop_base_color, mix($backdrop_bg_color, $backdrop_base_color, 20%));

//special cased widget colors
$suggested_bg_color: $selected_bg_color;
$suggested_border_color: $selected_borders_color;
$progress_bg_color: $selected_bg_color;
$progress_border_color: $selected_borders_color;
$checkradio_bg_color: $selected_bg_color;
$checkradio_fg_color: $selected_fg_color;
$checkradio_borders_color: if($variant == 'light', darken($checkradio_bg_color,20%), darken($checkradio_bg_color,40%));

// titlebuttons
$titlebutton_normal: if($variant == 'light', darken($headerbar_color, 7%), lighten($headerbar_color, 8%));
$titlebutton_normal_hover: if($variant == 'light', darken($headerbar_color, 11%), lighten($headerbar_color, 12%));
$titlebutton_normal_active: if($variant == 'light', darken($headerbar_color, 22%), lighten($headerbar_color, 24.3%));
$titlebutton_backdrop: if($variant == 'light', darken($bg_color, 4%), lighten($bg_color, 4.3%));
$titlebutton_backdrop_hover: if($variant == 'light', darken($bg_color, 5.7%), lighten($bg_color, 6.3%));

// Other colors from libadwaita
$view_hover_color: if($variant == 'light', darken($base_color, 7%), lighten($base_color, 7%)); //gtkalpha(currentColor, .07);
$view_active_color: if($variant == 'light', darken($base_color, 16%), lighten($base_color, 16%)); //gtkalpha(currentColor, .16);
$view_selected_color: if($variant == 'light', darken($base_color, 10%), lighten($base_color, 10%)); //gtkalpha(currentColor, .1);
$view_selected_hover_color: if($variant == 'light', darken($base_color, 13%), lighten($base_color, 13%)); //gtkalpha(currentColor, .13);
$view_selected_active_color: if($variant == 'light', darken($base_color, 19%), lighten($base_color, 19%)); //gtkalpha(currentColor, .19);

$trough_color: if($variant == 'light', darken($bg_color, 15%), lighten($bg_color, 15%)); //gtkalpha(currentColor, .15);
$trough_hover_color: if($variant == 'light', darken($bg_color, 20%), lighten($bg_color, 20%)); //gtkalpha(currentColor, .2);
$trough_active_color: if($variant == 'light', darken($bg_color, 25%), lighten($bg_color, 25%)); //gtkalpha(currentColor, .25);

$fill_color: $selected_bg_color;
$fill_text_color: $selected_fg_color;

$slider_color: gtkmix(white, $base_color, 80%);
$slider_hover_color: white;

$headerbar_border: if($variant == 'light', darken($bg_color, 17%), lighten($bg_color, 16.7%));

// "Cards" or content list views
$card_bg_color: if($variant == 'light', $base_color, lighten($bg_color, 6.7%));
$card_fg_color: if($variant == 'light', $fg_color, white);

// Notebook and tabs
$notebook_color: $base_color; //if($variant == 'light', $base_color, lighten($bg_color, 4.7%));
$shade_color: if($variant == 'light', darken($bg_color, 9.3%), lighten($bg_color, 0.7%));
$active_tab_color: if($variant == 'light', lighten($shade_color, 3.3%), lighten($bg_color, 4.7%));

// FIXME: Remove once color rework is done
$accent_color: if($variant == 'dark', #78aeed, $blue_4);
