// Custom added styles

$linked_border: if($variant == 'light', darken($borders_color, 2.7%), lighten($borders_color, 5%));
$linked_border_checked: if($variant == 'light', darken($linked_border, 13.7%), lighten($linked_border, 14.7%));
$backdrop_linked_border: if($variant == 'light', lighten($backdrop_borders_color, 4%), darken($backdrop_borders_color, 5%));

// Trying to mimic the headerbar button colors from the libadwaita theme when used in gtk4-widget-factory
%colored_buttons {
  @if $variant == 'light' { @include button(normal, lighten($headerbar_color, 1%), $fg_color); }
  @else { @include button(normal, darken($headerbar_color, 0.3%), $fg_color); }
  &:backdrop {
    @include button(backdrop, $bg_color, $backdrop_fg_color);
  }
  &:hover {
    @if $variant == 'light' { @include button(hover, lighten($headerbar_color, 0.3%), $fg_color); }
    @else { @include button(hover, darken($headerbar_color, 0.7%), $fg_color); }
    &:backdrop {
      @if $variant == 'light' { @include button(backdrop, darken($bg_color, 2.7%), $backdrop_fg_color); }
      @else { @include button(backdrop, lighten($bg_color, 2.7%), $backdrop_fg_color); }
    }
  }
  &:active, &:checked {
    //@include button(active, $headerbar_color, $fg_color);
    @if $variant == 'light' { @include button(active, lighten($headerbar_color, 1.7%), $fg_color); }
    @else { @include button(active, darken($headerbar_color, 1%), $fg_color); }
    &:backdrop {
      @include button(normal, $bg_color, $backdrop_fg_color); //FIXME
    }
  }
  &:disabled {
    @include button(insensitive, $headerbar_color, $insensitive_fg_color);
  }
  &:backdrop:disabled {
    @include button(backdrop-insensitive, $bg_color, $backdrop_insensitive_color);
  }

  &.default:not(:backdrop):not(.suggested-action):not(.destructive-action) {
    @include button(normal, $headerbar_color, $fg_color);
  }

  &.suggested-action, &.text-button.suggested-action {
    @include button(normal, $suggested_bg_color, white);
    &:hover { @include button(hover, $suggested_bg_color, white); }
    &:active, &:checked { @include button(active, transparentize($suggested_bg_color, 0.5), white); }
    &:backdrop, &:backdrop:hover { @include button(backdrop, transparentize($suggested_bg_color, 0.5), white); }
  }

  &.destructive-action, &.text-button.destructive-action  {
    @include button(normal, $destructive_color, white);
    &:hover { @include button(normal, $destructive_color, white); }
    &:active, &:checked { @include button(active, transparentize($destructive_color, 0.5), white); }
    &:backdrop, &:backdrop:hover { @include button(backdrop, transparentize($destructive_color, 0.5), white); }
  }
}

%headerbar_buttons {
  // The normal state is set where it's needed. Usually undecorated.
  // FIXME, dark theme may need some tweaks
  &:hover {
    @if $variant == 'light' { @include button(hover, lighten($headerbar_color, 6.3%), $fg_color); }
    @else { @include button(hover, darken($headerbar_color, 6.3%), $fg_color); }
  }

  &:backdrop:hover {
    @if $variant == 'light' { @include button(backdrop, lighten($bg_color, 1.3%), $backdrop_fg_color); }
    @else { @include button(backdrop, darken($bg_color, 1.3%), $backdrop_fg_color); }
  }

  &:active, &:checked {
    @if $variant == 'light' { @include button(normal, lighten($headerbar_color, 1%), $fg_color); }
    @else { @include button(normal, darken($headerbar_color, 1%), $fg_color); }
    &:backdrop {
      @include button(normal, $bg_color, $backdrop_fg_color); //FIXME
    }
  }

  &:active:hover, &:checked:hover {
    @if $variant == 'light' { @include button(normal, darken($headerbar_color, 1.3%), $fg_color); }
    @else { @include button(normal, lighten($headerbar_color, 1.3%), $fg_color); }
    &:backdrop {
      @include button(normal, $bg_color, $backdrop_fg_color); //FIXME
    }
  }

  &.default:not(:backdrop):not(.suggested-action):not(.destructive-action) {
    @include button(normal, $headerbar_color, $fg_color);
  }

  &.suggested-action, &.text-button.suggested-action {
    @include button(normal, $suggested_bg_color, white);
    &:hover { @include button(hover, $suggested_bg_color, white); }
    &:active, &:checked { @include button(active, transparentize($suggested_bg_color, 0.5), white); }
    &:backdrop, &:backdrop:hover { @include button(backdrop, transparentize($suggested_bg_color, 0.5), white); }
  }

  &.destructive-action, &.text-button.destructive-action  {
    @include button(normal, $destructive_color, white);
    &:hover { @include button(normal, $destructive_color, white); }
    &:active, &:checked { @include button(active, transparentize($destructive_color, 0.5), white); }
    &:backdrop, &:backdrop:hover { @include button(backdrop, transparentize($destructive_color, 0.5), white); }
  }
}

// headerbar stuff
headerbar:not(.selection-mode), .titlebar:not(.selection-mode) {
  button:not(.titlebutton) {
    &, &:backdrop { @include button(undecorated); }
    @extend %headerbar_buttons;
  }

  // Text buttons
  button.text-button:not(.suggested-action):not(.destructive-action):not(:disabled) {
    @extend %colored_buttons;
  }

  // Linked buttons
  // borders
  .linked button.image-button:not(:only-child),
  .linked.raised button:not(:only-child),
  & > .stack-switcher.linked > button:not(:only-child) {
    @extend %linked;
    &, &:hover, &:not(:backdrop), &:not(:disabled) {
      &:not(:first-child) { border-left-color: $linked_border; }
      &:not(:last-child) { border-right-color: $linked_border; }
    }
    &:active, &:checked {
      &:not(:first-child) { border-left-color: $linked_border_checked; }
      &:not(:last-child) { border-right-color: $linked_border_checked; }
    }
    &:backdrop {
      &:not(:first-child) { border-left-color: $backdrop_linked_border; }
      &:not(:last-child) { border-right-color: $backdrop_linked_border; }
    }

    // Trick to get a linked right border on checked buttons, and no left border on the next button
    &:first-child:checked:not(:backdrop),
    &:not(:last-child):not(:backdrop) {
      &:checked, &:active {
        box-shadow: inset -1px 0 $linked_border_checked;
        + button { border-left-color: transparent; }
      }
    }
  }
  // Linked color fills
  .linked button.image-button:not(:only-child),
  .linked.raised button,
  & > .stack-switcher.linked > button { @extend %colored_buttons; }

  // hdy viewswitcher buttons (weather, system monitor, etc.)
  viewswitcher button.radio:checked {
    @extend %headerbar_buttons;
  }

  // Entries
  entry {
    margin: 6px 0;
    @include button(normal, $headerbar_color, $text_color);
    &:backdrop { @include button(backdrop, $headerbar_color, $backdrop_text_color); }
    &:disabled { @include button(insensitive, $headerbar_color, $insensitive_fg_color); }
    &:backdrop:disabled { @include button(backdrop-insensitive, $headerbar_color, $backdrop_insensitive_color); }
  }

  // We want to match libadwaita's thinner buttons...
  button:not(.titlebutton) { margin: 6px 0; }
  // ...but not on hdy viewswitcher buttons
  viewswitcher button.radio { margin: 0; }

  // disabled switches
  switch:disabled {
    background-color: darken($backdrop_dark_fill, 4%);
    &:backdrop { background-color: $backdrop_dark_fill; }
  }

  // better animation when switching from backdrop
  &:not(:backdrop) { transition: 200ms ease-in; }
}

// Different button color on brighter elements like lists and popovers
.content list,
list.content,
list.view.frame {
  button, > row:not(:selected):hover button {
    @include button(normal, $card_bg_color, $card_fg_color);
    &:hover { @include button(hover, $card_bg_color, $card_fg_color); }
    &:active, &:checked { @include button(active, $card_bg_color, $card_fg_color); }
    &:disabled { @include button(insensitive, $card_bg_color, $insensitive_fg_color); }
    &:backdrop { @include button(backdrop, $card_bg_color, $backdrop_fg_color); }
    &:backdrop:disabled { @include button(backdrop-insensitive, $card_bg_color, $backdrop_insensitive_color); }
  }
  entry {
    @include button(normal, $card_bg_color, $text_color);
    &:disabled { @include button(insensitive, $card_bg_color, $insensitive_fg_color); }
    &:backdrop { @include button(backdrop, $card_bg_color, $backdrop_text_color); }
    &:backdrop:disabled { @include button(backdrop-insensitive, $card_bg_color, $backdrop_insensitive_color); }
  }
}

popover.background {
  button {
    @include button(normal, $popover_bg_color, $fg_color);
    &:hover { @include button(hover, $popover_bg_color, $fg_color); }
    &:active, &:checked { @include button(active, $popover_bg_color, $fg_color); }
    &:disabled { @include button(insensitive, $popover_bg_color, $insensitive_fg_color); }
    &:backdrop { @include button(backdrop, $popover_bg_color, $backdrop_fg_color); }
    &:backdrop:disabled { @include button(backdrop-insensitive, $popover_bg_color, $backdrop_insensitive_color); }
  }
  entry {
    @include button(normal, $popover_bg_color, $text_color);
    &:disabled { @include button(insensitive, $popover_bg_color, $insensitive_fg_color); }
    &:backdrop { @include button(backdrop, $popover_bg_color, $backdrop_text_color); }
    &:backdrop:disabled { @include button(backdrop-insensitive, $popover_bg_color, $backdrop_insensitive_color); }
  }
}

// Even out toggle button padding to make them more square
button.toggle:not(.image-button) {
  padding-left: 8px;
  padding-right: 8px;
}

// Font fixes when button text is bold
.flat.popup:not(.title) {
  font-weight: normal;
}

// Smaller text in statusbars
statusbar {
  font-size: small;
}

// scrolled window list rows
scrolledwindow list {
  &:not(.content) {
    padding: 6px 0;
  }
  row {
    margin: 0 6px;
    border-radius: $button_radius;
  }
  separator.horizontal {
    margin: 6px;
  }
}

// libadwaita switches don't have a backdrop effect on .content lists
list.content, list.view.frame {
  > row:backdrop {
    switch:not(:disabled) { background-color: $trough_color; }
    switch:not(:disabled):checked { background-color: $checkradio_bg_color; }
  }
}

// Fix wrong border-radius on hdy spinbutton entries
list.content .horizontal spinbutton entry {
  border-top-left-radius: $button_radius;
  border-bottom-left-radius: $button_radius;
}

// Non "content" lists
list.view.frame {
  border-radius: $card_radius;
  background-color: $card_bg_color;
  &:backdrop { background-color: $card_bg_color; }
  //> row:not(:selected):hover button:not(:backdrop) {
  //  @include button(hover);
  //  transition: none;
  //}
}

// Legacy application titlebuttons
.ssd .titlebar {
  border-width: 0;
  padding: 0px 4px;
  min-height: 36px;
  border-bottom: 1px solid $borders_color;
  &:backdrop { border-color: $backdrop_borders_color; }

  // Just to be safe, but it still doesn't fix the inkscape icon
  -gtk-icon-shadow: none;
  text-shadow: none;
  color: $fg_color;

  &.default-decoration button.titlebutton {
    background-color: $titlebutton_normal;
    min-height: 24px;
    min-width: 24px;
    margin: 0 4px 0 4px;
    padding: 0;
    &:hover { background-color: $titlebutton_normal_hover; }
    &:hover:active, &:active { background-color: $titlebutton_normal_active; }
    &:backdrop { background: $titlebutton_backdrop; }
    &:backdrop:hover { background: $titlebutton_backdrop_hover; }
  }
}

// Tree views
treeview.view:not(:backdrop):not(:selected):hover {
  background-color: $view_hover_color;
}

// Preferences window
// In nautilus preferences there is no padding below the last list
.preferences scrolledwindow > .frame > clamp {
  &.large, &.medium, &.small { padding-bottom: 30px; }
}

// Linked osd buttons, like in totem
.osd .linked > button { border-color: transparent; }
