// Custom added styles

%colored_hbuttons {
  background-color: $hb_button_color;
  &:backdrop {
    background-color: $hb_button_backdrop_color;
  }
  &:hover {
    background-color: $button_hover_color;
    &:backdrop {
      background-color: darken($hb_button_backdrop_color, 2%);
    }
  }
  &:active, &:checked {
    background-color: $hb_button_active_color;
    &:backdrop {
      background-color: $hb_button_color;
    }
  }
  &:disabled {
    background-color: $hb_button_disabled_color;
  }
  &:backdrop:disabled {
     background-color: $hb_button_backdrop_hover_color;
  }
}

// headerbar stuff
headerbar, .titlebar {
  button:not(.titlebutton) {
    background-color: transparent;
    border-color: transparent;
    &:backdrop {
      border-color: transparent;
      background-color: transparent;
    }
    &:hover {
      background-color: $hb_button_hover_color;
    }
    &:backdrop:hover {
      background-color: $hb_button_backdrop_hover_color;
    }
    &:active, &:checked {
      background-color: $hb_button_active_color;
      &.suggested-action {
        background-color: $selected_bg_color;
        color: $selected_fg_color;
      }
    }
    &:active:hover, &:checked:hover {
      background-color: $hb_button_checked_hover_color;
      &.suggested-action {
        background-color: $selected_bg_color;
        color: $selected_fg_color;
      }
    }
    &.default:not(:backdrop) {
      background-color: $hb_button_color;
      color: $fg_color;
    }
    &.suggested-action:not(:backdrop) {
      background-color: $suggested_bg_color;
      color: $selected_fg_color;
      &:hover { background-color: lighten($suggested_bg_color, 6%); }
    }
    &.destructive-action:not(:backdrop) {
      background-color: $destructive_color;
      color: $selected_fg_color;
      &:hover { background-color: lighten($destructive_color, 6%); }
    }
    // Text buttons
    &.text-button:not(.suggested-action):not(.destructive-action):not(:disabled) {
      @extend %colored_hbuttons;
    }
  }

  // Linked image buttons (back and forward, plus and minus, etc)
  .linked button.image-button:not(:only-child) {
    @extend %colored_hbuttons;
    @extend %linked;
  }

  // Stack buttons
  & > .stack-switcher.linked > button {
    @extend %linked;
  }

  // hdy viewswitcher buttons (weather, system monitor, etc.)
  viewswitcher button.radio:checked {
    background-color: $button_hover_color;
    &:backdrop { background-color: $hb_button_backdrop_color; }
  }

  // Entries
  entry {
    margin: 6px 0;
    background-color: $hb_button_color;
    &:backdrop { background-color: $hb_button_backdrop_color; }
    &:disabled { background-color: $hb_button_disabled_color; }
    &:backdrop:disabled { background-color: $hb_button_backdrop_color; }
  }

  // We want to match libadwaita's thinner buttons...
  button:not(.titlebutton) { margin: 6px 0; }
  // ...but not on hdy viewswitcher buttons
  viewswitcher button.radio { margin: 0; }

  // disabled switches
  switch:disabled {
    background-color: darken($backdrop_dark_fill, 4%);
    &:backdrop { background-color: $backdrop_dark_fill; }
  }

  // better animation when switching from backdrop
  &:not(:backdrop) { transition: 200ms ease-in; }
}

// Buttons on $base_color backgrounds should be a little bit brighter. Only needed for the light theme.
// This could be avoided with libadwaita colors, but GTK3 is CPU heavy and can't handle all the alpha
@if $variant == 'light' {
  .view,
  popover.background,
  list {
    button:not(.suggested-action):not(.destructive-action) {
      background-color: if($variant == 'light', lighten($button_color, 4%), lighten($button_color, 4.7%));
      &:hover {
        background-color: if($variant == 'light', $button_color, lighten($button_hover_color, 7%));
      }
      &:active, &:checked {
        background-color: if($variant == 'light', lighten($button_checked_color, 8%), $button_checked_color);
      }
      &:checked:hover {
        background-color: if($variant == 'light', lighten($button_checked_color, 4%), lighten($button_checked_color, 4%));
      }
      &:disabled, &:backdrop {
        background-color: if($variant == 'light', lighten($button_color, 7%), darken($button_color, 7%));
      }
    }
    entry:not(:backdrop):not(:disabled) {
      background-color: if($variant == 'light', lighten($button_color, 4%), lighten($button_color, 4.7%));
    }
  }
}

// Even out toggle button padding to make them more square
button.toggle:not(.image-button) {
  padding-left: 8px;
  padding-right: 8px;
}

// Font fixes when button text is bold
.flat.popup:not(.title) {
  font-weight: normal;
}

// Smaller text in statusbars
statusbar {
  font-size: small;
}

// scrolled window list rows
scrolledwindow list {
  &:not(.content) {
    padding: 6px 0;
  }
  row {
    margin: 0 6px;
    border-radius: $button_radius;
  }
  separator.horizontal {
    margin: 6px;
  }
}

// libadwaita switches don't have a backdrop effect on .content lists
list.content, list.view.frame {
  > row:backdrop {
    switch:not(:disabled) { background-color: $trough_color; }
    switch:not(:disabled):checked { background-color: $checkradio_bg_color; }
  }
}

// Non "content" lists
// Applying the same style as list.content may cause breakage, so we use a simpler style
list.view.frame {
  border-radius: $card_radius;
  &:backdrop { background-color: $card_bg_color; }
  > row:not(:selected):hover button:not(:backdrop) {
    background-color: $button_hover_color;
    transition: none;
  }
}

// Legacy application titlebuttons
.ssd .titlebar {
  border-width: 0;
  padding: 0px 4px;
  min-height: 36px;
  border-bottom: 1px solid $borders_color;
  &:backdrop { border-color: $backdrop_borders_color; }

  // Just to be safe, but it still doesn't fix the inkscape icon
  -gtk-icon-shadow: none;
  text-shadow: none;
  color: $fg_color;

  &.default-decoration button.titlebutton {
    background-color: $titlebutton_normal;
    min-height: 24px;
    min-width: 24px;
    margin: 0 4px 0 4px;
    padding: 0;
    &:hover { background-color: $titlebutton_normal_hover; }
    &:hover:active, &:active { background-color: $titlebutton_normal_active; }
    &:backdrop { background: $titlebutton_backdrop; }
    &:backdrop:hover { background: $titlebutton_backdrop_hover; }
  }
}

// I'm confused why the default styles for this doesn't work
// https://github.com/lassekongo83/adw-gtk3/issues/4#issuecomment-1018729772
button, .titlebar button, headerbar button {
  &.destructive-action {
    background-color: $destructive_color;
    &:hover { // Color values here are just a guess
      background-color: lighten($destructive_color, 6%);
    }
    &:checked, &:active {
      &, &:hover { background-color: darken($destructive_color, 11%); }
    }
  }
  &.suggested-action {
    background-color: $suggested_bg_color;
    &:hover {
      background-color: lighten($suggested_bg_color, 6%);
    }
    &:checked, &:active {
      &, &:hover { background-color: darken($suggested_bg_color, 11%); }
    }
  }
}

// Tree views
treeview.view:not(:backdrop):not(:selected):hover {
  background-color: $view_hover_color;
}

// Preferences window
// In nautilus preferences there is no padding below the last list
.preferences scrolledwindow > .frame > clamp {
  &.large, &.medium, &.small { padding-bottom: 30px; }
}
