$card_shadow: 0 0 0 1px transparentize(black, 0.97),
              0 1px 3px 1px transparentize(black, .93),
              0 2px 6px 2px transparentize(black, .97);

// Decoration
window.rounded,
window.rounded actionbar {
  border-radius: 0 0 $window_radius $window_radius;
  
  decoration {
    border-radius: $window_radius;
  }
}

window.flat headerbar {
  box-shadow: none;
}

// Text formatting
.accent {
  color: $selected_bg_color;
}

.h1 {
  font-size: 20pt;
  font-weight: 300;
}

.h2 {
  font-size: 16pt;
  font-weight: 200;
}

.h3 {
  font-size: 11pt;
}

.h4,
.category-label {
  color: rgba($fg_color, 0.8);
  font-weight: 700;
}

.h4 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

list .h4 {
  padding-left: 0.5em;
}

// Storage Bar widget
.storage-bar {
  .trough {
    padding: 8px 6px;
    border: none;
    border-radius: $button_radius $button_radius 0 0;
    background-image: none;
    box-shadow: $card_shadow;
  }

  .fill-block {
    padding: 8px 6px;
    border: 1px solid rgba(black, 0.35);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-radius: 0;
    border-bottom-color: darken($borders_color, 35%);
    background-color: darken($base_color, 15%);

    &:first-child { border-radius: $button_radius 0 0; }
    &:last-child { border-radius: 0 $button_radius 0 0; }
    &:only-child { border-radius: $button_radius $button_radius 0 0; }

    image { -gtk-icon-style: symbolic; }
  }

  .empty-block {
    border-bottom-width: 1px;
    border-bottom-color: darken($borders_color, 40%);
    background-color: darken($base_color, 5%);

    image { color: black; }
  }

  .app {
    border-bottom-width: 1px;
    border-bottom-color: darken($purple_1, 30%);
    background-color: $purple_1;

    image { color: white; }
  }

  .audio {
    border-bottom-width: 1px;
    border-bottom-color: darken($orange_2, 20%);
    background-color: $orange_2;

    image { color: black; }
  }

  .files {
    border-bottom-width: 1px;
    border-bottom-color: darken($blue_1, 20%);
    background-color: $blue_1;

    image { color: black; }
  }

  .photo {
    border-bottom-width: 1px;
    border-bottom-color: darken($green_2, 30%);
    background-color: $green_2;

    image { color: black; }
  }

  .video {
    border-bottom-width: 1px;
    border-bottom-color: darken($red_1, 20%);
    background-color: $red_1;

    image { color: white; }
  }

  .legend {
    padding: 8px;
    border-radius: 50%;

    image { color: black; }
  }
  
  .disk-bar {
    padding: 0;
    border-radius: $button_radius;   
    background-color: $brown_1;
  } 

  .ext2, .ext3, .ext4, .fat16, .fat32, .btrfs, 
  .xfs,  .ntfs, .luks, .lvm,   .none,  .swap , .unused {
    // sass-lint:disable-block indentation
    border: none;
    box-shadow: 
      inset 0 -2px rgba($dark_2, 0.5),
      inset 1px 0 rgba($dark_2, 0.5),
      inset -1px 0 rgba($dark_2, 0.5);
  }

  .swap { 
    background-color: $red_5;

    image { color: white; }
  }

  .ext4 { 
    background-color: $green_2;

    image { color: black; }
  }

  .ext3 { 
    background-color: $green_5;

    image { color: white; }
  }

  .ext2 { 
    background-color: $green_1;

    image { color: black; }
  }

  .fat16, 
  .fat32 { 
    background-color: $yellow_2;

    image { color: black; }
  }

  .btrfs { 
    background-color: $blue_5;

    image { color: white; }
  }

  .xfs { 
    background-color: $blue_1;

    image { color: black; }
  }

  .ntfs { 
    background-color: $orange_2;

    image { color: black; }
  }

  .luks { 
    background-color: $purple_2;

    image { color: black; }
  }

  .lvm { 
    background-color: $purple_1;

    image { color: black; }
  }

  .none { 
    background-color: $blue_1;

    image { color: black; }
  }

  .unused { 
    background-color: $brown_1;

    image { color: black; }
  }

  .legend { box-shadow: none; }
}

// Granite popover
GraniteWidgetsPopOver {
  -GraniteWidgetsPopOver-arrow-width: 21;
  -GraniteWidgetsPopOver-arrow-height: 10;
  -GraniteWidgetsPopOver-border-radius: 8px;
  -GraniteWidgetsPopOver-border-width: 0;
  -GraniteWidgetsPopOver-shadow-size: 12;
  
  border: 1px solid $base_color;
  background: $base_color;
  color: $fg_color;

  .button {
    background-image: none;
    background: none;
    border: none;

    &:active,
    &:active:hover, {
      color: $selected_bg_color;
    }
  }

  > .frame {
    border:none;
  }

  .sidebar.view {
    border: none;
    background: none;
  }
}

GraniteWidgetsStaticNotebook .frame {
  border: none;
}

.popover_bg {
  background-color: $base_color;
  background-image: none;
  border: 1px solid $base_color;
  color: $fg_color;
}

// Cards
.deck {
  background-color: $base_color;
}

.card {
  transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  border: none;
  border-radius: $button_radius;
  background-color: $base_color;  
  box-shadow: $card_shadow;

  &.collapsed {
    background-color: $bg_color;
  }
}

// Source list
.source-list {
  -GtkTreeView-horizontal-separator: 1px;
  -GtkTreeView-vertical-separator: 6px;

  background-color: $bg_color;
  border: solid $borders_color;
  color: $fg_color;
  border-right-width: 1px;

  .category-expander {
    color: transparent;
  }

  .badge {
    background-image: none;
    background-color: transparentize(black, 0.6);
    color: $bg_color;
    border-radius: 10px;
    padding: 0 6px;
    margin: 0 3px;
    border-width: 0;

    &:selected:backdrop,
    &:selected:hover:backdrop {
      background-color: transparentize(black, 0.8);
      color: darken($bg_color, 5%);
    }
  }

  row,
  .list-row {
    border:none;
    padding: 0;

    > GtkLabel,
    > label {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

// Mode switch
.mode-switch,
.mode-switch:checked {
  background-color: $checkradio_bg_color;
  background-image: none;
}

// Avatar
.avatar {
  border-radius: 999px;
  box-shadow: none;
}

// Overlay bar
.overlay-bar {
  padding: 4px;
}
