// Styles for Phosh

// Squeekboard
// From: https://gitlab.gnome.org/World/Phosh/squeekboard/-/tree/master/data
sq_view {
  font-size: 1.5em;
  background-color: gtkmix($base_color, $fg_color, 10%);
  box-shadow: inset 0 1px 0 0 gtkmix($borders_color, $base_color, 80%);

  &.wide sq_button { margin: 3px; }

  &.pin sq_button {
    border-radius: 0px;
    margin: 1px 1px 1px 1px;
  }
}

sq_button {
  border-radius: $button_radius;
  margin: 2px;
  color: $fg_color;
  background: gtkalpha($fg_color, 0.93);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);

  &:active { background: gtkalpha($fg_color, 0.89); }

  &.altline, &.special {
    background: gtkalpha($fg_color, 0.85);
    &:active { background: gtkalpha($fg_color, 0.8); }
  }

  &.latched {
    font-weight: bold;
    background: gtkalpha($fg_color, 0.8);
    color: gtkalpha($fg_color, 0.2);
  }

  &.locked {
    font-weight: bold;
    background: gtkalpha($fg_color, 0.5);
    color: $base_color;
  }

  &.action { font-size: 0.75em; }

  &.small { font-size: 0.5em; }
}

#Return {
  background: $selected_bg_color;
  color: $selected_fg_color;

  &:active {
    background: gtkmix(black, $selected_bg_color, 20%);
    color: gtkmix(black, $selected_fg_color, 20%);
  }
}

// The rest
// From: https://gitlab.gnome.org/World/Phosh/phosh/-/tree/main/src/stylesheet

@define-color phosh_fg_color white;
@define-color phosh_bg_color black;

@define-color phosh_activity_bg_color #1a1a1a;
@define-color phosh_notification_bg_color #282828;
@define-color phosh_splash_bg_color #f6f5f4;
@define-color phosh_splash_fg_color #282828;

@define-color phosh_button_bg_color #282828;
@define-color phosh_button_active_bg_color shade(@phosh_button_bg_color, 0.9);
@define-color phosh_button_hover_bg_color shade(@phosh_button_bg_color, 1.2);

$phosh_fg_color: gtkcolor(phosh_fg_color);
$phosh_bg_color: gtkcolor(phosh_bg_color);

$phosh_activity_bg_color: gtkcolor(phosh_activity_bg_color);
$phosh_notification_bg_color: gtkcolor(phosh_notification_bg_color);
$phosh_splash_bg_color: gtkcolor(phosh_splash_bg_color);
$phosh_splash_fg_color: gtkcolor(phosh_splash_fg_color);

$phosh_button_bg_color: gtkcolor(phosh_button_bg_color);
$phosh_button_active_bg_color: gtkcolor(phosh_button_active_bg_color);
$phosh_button_hover_bg_color: gtkcolor(phosh_button_hover_bg_color);

// Top panel and bar
phosh-top-panel {
  font: 15px Cantarell;
}

button.phosh-panel-btn {
  border-radius: 0;
  &, &:hover, &:active, &:focus:active { background: $phosh_bg_color; }
}

#top-bar {
  padding: 4px 9px 4px 9px;
}

.phosh-wwan-indicator,
phosh-top-panel .indicators {
  font-size: 13px;
  font-weight: 800;
  font-feature-settings: "tnum";
}

.phosh-topbar-clock {
  font-weight: bold;
  font-feature-settings: "tnum";
}

phosh-top-panel .phosh-topbar-clock {
  font-size: 16px;
}
phosh-top-panel .phosh-topbar-date {
  font-size: 14px;
}

.phosh-clock-box {
  padding: 16px;
}

.phosh-topbar-button {
  padding: 0 12px;
  border-radius: 32px;
  border: 1px solid transparent;
  border: none;
  -gtk-icon-shadow: none;
}

.phosh-topbar-button:focus {
  box-shadow: inset 0 0 0 2px $selected_bg_color;
  outline: none;
  border-color: $selected_bg_color;
}

// Home bar
.phosh-osk-button {
  border-radius: 50%;
  min-width: 0;
  min-height: 0;
  padding: 6px;
}

// Settings menu
.phosh-settings-menu {
  background-color: $phosh_bg_color;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.phosh-settings-menu button.circular:not(:hover):not(:active) {
  border: 2px solid $bg_color;
}

.phosh-quick-setting {
  font-size: 9px;
  padding: 9px;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 0;
  background-color: transparent;
}

.phosh-quick-setting:not(:hover):not(:active) {
  background: none;
}

// Overview (app grid with favories and, activities)
phosh-activity > widget > button {
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  transition: none;
}

phosh-activity box button {
  background: white;
  border: none;
  border-radius: 0;
}

phosh-activity.phosh-maximized:not(.phosh-fullscreen) .phosh-drawingarea {
  background: $phosh_activity_bg_color;
}

phosh-home, phosh-top-panel {
  background: $phosh_bg_color;
  color: $phosh_fg_color;
}

.phosh-activity-close-button {
  border-radius: 50%;
  min-width: 48px;
  min-height: 48px;
  padding: 0;
}

.phosh-overview {
  background: $phosh_bg_color;
}

.phosh-favorite {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

.phosh-favorite:hover {
  -gtk-icon-effect: none;
}

.phosh-favorite:active {
  -gtk-icon-effect: highlight;
}

// Search Bar
.phosh-search-bar-box {
  margin: 6px 16px;
}

.phosh-search-bar {
  border-radius: 9999px;
  padding: 3px 18px 3px 14px;
  border: 1px solid transparent;
}

.phosh-search-bar:focus {
  box-shadow: inset 0 0 0 1px $selected_bg_color;
  outline: none;
  border: 1px solid $selected_bg_color;
}

.phosh-menu-button {
  margin: 3px 0px 3px 10px;
}

phosh-app-grid {
  background: $phosh_bg_color;
}

phosh-app-grid separator {
  background: gtkalpha($phosh_fg_color,.2);
  min-height: 2px;
  border-radius: 1px;
  margin: 0 12px;
}

phosh-app-grid-button {
  font-size: 0.8rem;
}

phosh-app-grid-button button, phosh-app-grid-button button:hover {
  background: none;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
}

phosh-app-grid-button button:hover,
phosh-app-grid-button button:focus,
.search-active phosh-app-grid-button:first-child button {
  background: rgba(46, 45, 45, 0.6);
  border-radius: 5px;
}

phosh-app-grid-button button:focus {
  border-color: $selected_bg_color;
}

#phosh-filter-adaptive-btn,
#phosh-filter-adaptive-btn:hover,
#phosh-filter-adaptive-btn.toggle {
  border-radius: 9999px;
  padding-top: 6px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-image: none;
  background: $phosh_button_bg_color;
  outline-style: none;
}

// Lock screen
phosh-lockscreen,
.phosh-lockshield {
  background-color: $phosh_bg_color;
  color: $phosh_fg_color;
}

// Clock
#phosh-lockscreen-clock {
  font-weight: 300;
  font-feature-settings: "tnum";
  margin: 12px 0;
}

#phosh-lockscreen-date {
  margin: 6px 0;
  font-weight: 400;
}

.p-large #phosh-lockscreen-clock {
  font-size: 84px;
  transition: 200ms ease;
}
.p-large #phosh-lockscreen-date {
  font-size: 18px;
  transition: 200ms ease;
}

.p-small #phosh-lockscreen-clock {
  font-size: 72px;
  transition: 200ms ease;
}
.p-small #phosh-lockscreen-date {
  font-size: 16px;
  margin-top: 0;
  transition: 200ms ease;
}

// Lockscreen Arrow
.phosh-lockscreen-arrow {
  transition: 400ms linear;
  animation: pulsate 1.8s ease-out;
  animation-iteration-count: 15;
}

.phosh-lockscreen-status-icons {
  padding: 6px;
}

.phosh-lockscreen-pin {
  font-size: 20px;
  padding: 6px;
  border-radius: 12px;
  color: inherit;
  border: none;
  box-shadow:none;
  outline: none;
}

.phosh-lockscreen-pin:focus {
  border: none;
  box-shadow:none;
  outline: none;
  caret-color: transparent;
}

@keyframes pulsate {
  0% {-gtk-icon-transform: translateY(0); opacity: 0.7}
  35% {-gtk-icon-transform: translateY(-14px); opacity: 1}
  100% {-gtk-icon-transform: translateY(0); opacity: 0.7}
}

// Lockscreen keypad
phosh-keypad label.digit {
  font-size: 200%;
  font-weight: bold;
}

phosh-keypad button {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  border: 1px solid transparent;
  color: inherit;
  box-shadow: none;
  background: none;
}

phosh-keypad button:disabled {
  opacity: 0.5;
}

phosh-keypad button:hover,
phosh-keypad button:focus:hover {
  background: gtkalpha($phosh_fg_color,.2);
}

phosh-keypad button:active,
phosh-keypad button:focus:active {
  background: gtkalpha($phosh_fg_color,.15);
}

phosh-keypad button:focus {
  background: gtkalpha($phosh_fg_color,.1);
  outline-style: none;
}

.text-only-button {
  font-size: 16px;
  font-weight: bold;
  padding: 16px 36px;
  border: 1px solid transparent;
  box-shadow: none;
  color: inherit;
  background: gtkalpha($phosh_fg_color,.3);
}

.text-only-button:hover,
.text-only-button:hover:focus {
  background: gtkalpha($phosh_fg_color,.25);
}

.text-only-button:focus {
  background: gtkalpha($phosh_fg_color,.3);
  box-shadow: inset 0 0 0 1px $selected_bg_color;
  outline-style: none;
  border: 1px solid $selected_bg_color;
}

.text-only-button:active,
.text-only-button:focus:active {
  background: gtkalpha($phosh_fg_color,.2);
}

phosh-lockscreen cui-call-display actionbar {
  background-color: $phosh_bg_color;
}

phosh-lockscreen .phosh-notification-tray {
  margin: 0 6px;
  transition: 200ms ease;
}

 // System modal dialogs (polkit, gcr, ...)
.phosh-system-modal {
  background-color: gtkalpha($phosh_bg_color, 0.8);
}

.phosh-system-modal-dialog {
  background-color: $bg_color;
  border: 1px solid $border_color;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  padding: 0px;
  margin: 12px;
}

.phosh-system-modal-dialog-buttons label {
  margin: 12px;
}

.phosh-system-modal-dialog-buttons button {
  padding: 0;
  margin: 0;
  border-top: 1px solid $border_color;
  border-right: 1px solid $border_color;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
  text-shadow: none;
}

.phosh-system-modal-dialog-buttons button:first-child {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 0;
}

.phosh-system-modal-dialog-buttons button:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 11px;
  border-right: none;
}

.phosh-system-modal-dialog-content {
  padding-left:  18px;
  padding-right: 18px;
}

.phosh-system-modal-dialog-title {
  padding-top: 18px;
  font-weight: 800;
  font-size: 120%;
}

.phosh-end-session-dialog .phosh-end-session-subtitle {
  font-feature-settings: "tnum";
}

.phosh-end-session-dialog .phosh-end-session-warning {
  color: #ba5645;
  font-weight: bold;
}

.phosh-end-session-dialog list {
  border-radius: 12px;
}

.phosh-end-session-dialog list row  {
  margin-left: 6px;
  margin-right: 6px;
}

.phosh-end-session-dialog list row:first-child  {
  margin-top: 6px;
}

.phosh-end-session-dialog list row:last-child  {
  margin-bottom: 6px;
}

.phosh-end-session-dialog list row box box.vertical label:first-child {
  font-weight: bold;
}

.phosh-end-session-dialog list * {
  color: $text_color;
  -gtk-icon-effect: none;
}

phosh-gtk-mount-prompt .phosh-system-modal-dialog-content > image {
  -gtk-icon-style: symbolic;
}

// Notifications
phosh-notification-content {
  background: transparent;
  color: $phosh_fg_color;
  padding: 0;
  margin: 0;
}

phosh-notification-content .message-area {
  padding: 12px 12px 9px 12px;
}

phosh-notification-content .message-area image {
  border-radius: 50%;
}

// Action Area (buttons)
phosh-notification-content .actions-area {
  padding: 0;
}

phosh-notification-content .actions-area button {
  background-image: none;
  background-color: transparent;
  border-radius: 0;
  font-weight: bold;
  box-shadow: none;
  text-shadow: none;
  border-style: solid;
  border-color: $border_color;
  border-width: 0;
  border-top-width: 1px;
  border-right-width: 1px;
  padding: 8px 12px;
  -gtk-icon-shadow: none;
}

phosh-notification-content .actions-area button:focus,
phosh-notification-content .actions-area button:hover {
  background-color: $phosh_button_hover_bg_color;
  outline-style: none;
}

phosh-notification-content .actions-area button:active {
  background-color: $phosh_button_active_bg_color;
}

phosh-notification-content .actions-area button:only-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right-width: 0px;
}

phosh-notification-content .actions-area button:first-child {
  border-bottom-left-radius: 10px;
}
phosh-notification-content .actions-area button:last-child {
  border-bottom-right-radius: 10px;
  border-right-width: 0px;
}

phosh-notification-frame {
  margin: 0;
  padding: 0;
}

phosh-notification-frame list {
  background: transparent;
}

phosh-notification-frame .header-area {
  padding: 12px 12px 0 12px;
  color: $phosh_fg_color;
}

phosh-notification-frame .header-area image {
  -gtk-icon-style: symbolic;
}

phosh-notification-frame .notification-container {
  border-radius: 12px;
  border: none;
  background-color: $phosh_notification_bg_color;
  margin: 6px;
  margin-bottom: 0;
}

// Banner
phosh-notification-banner {
  background: none;
  border: none;
  padding: 6px;
}

phosh-notification-banner > phosh-notification-frame {
  padding: 0;
}

phosh-notification-banner .notification-container {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.33),
              0px 2px 4px 2px rgba(0, 0, 0, 0.07);
}

// Notification Tray
.phosh-notification-tray,
.phosh-notification-tray list {
  background: transparent;
}

.phosh-notification-tray list row {
}

.notification-container *:focus,
.phosh-notification-tray list row:focus {
  outline-style: none;
}

.phosh-notification-tray list row .notification-container {
  border: 2px solid transparent;
  margin:0;
  margin-bottom:6px;
}

.phosh-notification-tray list row:focus .notification-container {
  border-color: $selected_bg_color;
  outline-style: none;
}

.phosh-notifications-header {
  padding:0;
}

// Clear notifications button
#phosh-notifications-clear-all-btn {
  border-radius: 99px;
  border: 1px solid transparent;
  background-color: $phosh_button_bg_color;
}

#phosh-notifications-clear-all-btn:hover {
  background-color: $phosh_button_hover_bg_color;
}

#phosh-notifications-clear-all-btn:focus {
  box-shadow: inset 0 0 0 1px $selected_bg_color;
  border: 1px solid $selected_bg_color;
  outline: none;
}

// Output fader
@keyframes phosh-fader-default-keyframe {
  from {background:rgba(0, 0, 0, 0);}
  to {background:rgba(0, 0, 0, 1);}
}

.phosh-fader-default-fade {
  animation-name: phosh-fader-default-keyframe;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

// Fader used for proximity dimming
.phosh-fader-proximity-fade {
  animation-name: phosh-fader-default-keyframe;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

// Fader used for screenshot flash
@keyframes phosh-fader-flash-keyframe {
  from {background:rgba(255, 255, 255, 1);}
  to {background:rgba(255, 255, 255, 0);}
}

.phosh-fader-flash-fade {
  animation-name: phosh-fader-flash-keyframe;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.phosh-fader-screenshot-opaque {
  background: rgba(255, 255, 255, 0);
}

// Media player
phosh-media-player {
  background: $phosh_notification_bg_color;
  color: $phosh_fg_color;
  border-radius: 12px;
  border:none;
  box-shadow: none;
  padding: 6px;
  padding-bottom: 0;
}

phosh-media-player button {
  background: $phosh_notification_bg_color;
  color: inherit;
  border: none;
  border-radius: 0;
  outline-style: none;
  text-shadow: none;
  -gtk-icon-shadow: none;
}

phosh-media-player button:hover {
  background-color: rgba(255,255,255,.1);
  opacity: 0.5;
}

phosh-media-player button:active {
  background-color: rgba(255,255,255,.2);
}

phosh-media-player .media-player-details {
  border-radius: 8px;
  padding-left: 4px;
}

// The details button should not look inactive even when disabled
phosh-media-player .media-player-details *:disabled {
  color: $fg_color;
  -gtk-icon-effect: none;
}

phosh-media-player .phosh-media-player-art {
  margin: 0;
  padding: 0;
  border-radius: 3px;
}

phosh-media-player > box > button {
  border-radius: 9999px;
  -gtk-icon-shadow: none;
  margin: 2px;
  padding: 8px;
}

// The Lockscreen
phosh-lockscreen phosh-media-player {
  margin: 0 8px;
}

// OSD
#osd-bubble {
  border-radius: 32px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2), 
              0 3px 16px rgba(0,0,0,0.1);
  background-color: gtkshade($phosh_notification_bg_color, 1.5);
}

#osd-label {
  font-size: 9pt;
}

phosh-osd-window.phosh-system-modal {
  background: none;
}

phosh-osd-window levelbar block {
  min-height:4px;
  box-shadow: none;
  border: none;
  border-radius: 2px;
}

phosh-osd-window levelbar block.low {
  background-color: white;
}

phosh-osd-window levelbar block.high {
  background-color: white;
}

phosh-osd-window levelbar block.full {
  background-color: white;
}

phosh-osd-window levelbar trough {
  border: none;
  padding: 0;
  box-shadow: none;
  background-color: gtkalpha(white, 0.2);
  border-radius: 2px;
}

// Splash

phosh-splash.light {
  color: $phosh_splash_fg_color;
  background-color: $phosh_splash_bg_color;
}

.phosh-dropicon-shadow {
  -gtk-icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 1px 8px rgba(0, 0, 0, 0.2);
}
